<ng-container *ngIf="threshold$ | async as threshold; else loading">
  <form
    id="threshold-settings"
    *ngIf="!threshold.loading; else loading"
    [formGroup]="form"
    (ngSubmit)="submit()"
  >
    <h2 class="title">Threshold Settings</h2>


    <div class="toggle">
      <input
        id="enabled"
        [value]="true"
        type="radio"
        name="enabled"
        formControlName="enabled"
      />
      <label class="radio-label">Enabled</label>
      <input
        id="disabled"
        [value]="false"
        type="radio"
        name="enabled"
        formControlName="enabled"
      />
      <label class="radio-label">Disabled</label>
    </div>

    <div class="threshold"
      [class.valid]="form.get('threshold').valid &&
        (form.get('threshold').dirty || form.get('threshold').touched)"
      [class.invalid]="form.get('threshold').invalid &&
        (form.get('threshold').dirty || form.get('threshold').touched)">

      <label for="threshold">Threshold</label>
      <input type="text" step="1" id="threshold" formControlName="threshold"/>
      <ng-container *ngIf="form.controls.threshold.touched">
        <span *ngIf="form.controls.threshold.errors?.pattern" class="error">should be formatted as USD #########.## </span>
        <span *ngIf="form.controls.threshold.errors?.min" class="error">should be greater than 15 </span>
        <span *ngIf="form.controls.threshold.errors?.minlength" class="error">should be no shorter than 2 digits </span>
        <span *ngIf="form.controls.threshold.errors?.maxlength" class="error">should be no longer than 15 characters </span>
        <span *ngIf="form.controls.threshold.errors?.required" class="error">required </span>
      </ng-container>
    </div>

    <div
      *ngIf="threshold.message"
      class="message"
    >
      {{ threshold.message || "*Required"}}
    </div>
    <button class="disSave" [disabled]="!form.valid">Disabled on invalid form Save</button>
    <button class="save">Save</button>
  </form>
  <h3>Debug display values</h3>
  <p>Form value: {{ form.value | json }}</p>
  <p>Form validation items that fail (keys): {{ (form.controls.threshold.errors | keys ) || 'none'}}</p>
  <p>Form validation items that fail (all data): {{ form.controls.threshold.errors | json }}</p>
  <p>Form status: {{ form.status }}</p>
  <p>Form value 'threshold': touched: {{ form.controls.threshold.touched }} Prestine: {{ form.controls.threshold.pristine }}</p>


</ng-container>
<ng-template #loading> <h1>Loading...</h1> </ng-template>
