
#threshold-settings {
    font: Roboto;
    margin: 2rem;
    display: grid;
    grid-column: repeat(3, 1fr);
    grid-row: 3fr 1fr 1fr 3fr 1fr;
    gap: 1rem;
    grid-template-areas:
        "title title title"
        "toggle ... ..."
        "value ... ..."
        "message message message"
        "disSave ... save";


    .title {
        grid-area: title;
        text-align: center;
    }
    .toggle {
        grid-area: toggle;
    }
    .threshold {
        grid-area: value;
    }
    .message {
        grid-area: message;
        font-size: 1.5rem;
        &.error {
            color: red;
        }
    }
    .save {
        grid-area: save;
    }
    .disSave {
        grid-area: disSave;
    }

    .valid {
      color: green;
    }

    .invalid {
      color: red;
      border: .1285rem solid red;
      border-radius: .5rem;
      padding: 0 1rem;

    }
}
h1 {
  color: blue;
}

